@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<PizzasModel>

<div class="text-center">
    <div class="mainText">
        <div class="mainText">
            <h1 class="display-4 text-capitalize text-black">
                Our great selection of pizzas
            </h1>
            <h4>Pick one or customize your own pizza!</h4>
            <h4>You don't need to give us any information</h4>
            <h4>Trust us, we know everything!</h4>
            <p class="smallText"><i>Only one pizza per order</i></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/images/Pizzas/Create.png" class="w-100" />
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;">Create your own pizza</h3>
                            <p style="text-align:left;">Use our PizzaMaker</p>
                            <a class="btn btn-primary" style="float: left; background-color: mediumpurple" asp-area="" asp-controller="Forms" asp-action="CustomPizza">Try it out!</a>

                        </div>
                    </div>
                </div>
            </div>



            

            @foreach (var pizza in Model)
            {
                var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");

                <div class="col-4 mb-5">
                    <a class="pizza-img" asp-area="" asp-controller="Checkout" asp-action="Checkout"
                   asp-route-ImageTitle="@pizza.ImageTitle"
                   asp-route-PizzaPrice="@pizza.FinalPrice"
                   asp-route-PizzaName="@pizza.PizzaName"
                   asp-route-id="@pizza.Id">
                        <img src="@imagePath" class="w-100" asp-append-version="true" />
                    </a>
                    <br />

                </div>
            }



        </div>
    </div>
</div>