@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<PizzasModel>

@*<h1>Index Category</h1>

<table class=table table-bordered></table>
*@




<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Admin" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Pizza Name
                </th>
                <th>
                    Image Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.PizzaName
                    </td>
                    <td width="30%">
                        @obj.ImageTitle
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Admin" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                            <a asp-controller="Admin" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Delete</a>
                            @*<a asp-controller="Admin" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>